@font-face {
  font-family: "TTNormsPro";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/TTNormsPro/TTNormsPro-Regular.eot");
  src: url("../fonts/TTNormsPro/TTNormsPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNormsPro/TTNormsPro-Regular.woff") format("woff"), url("../fonts/TTNormsPro/TTNormsPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "TTNormsPro";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/TTNormsPro/TTNormsPro-Medium.eot");
  src: url("../fonts/TTNormsPro/TTNormsPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNormsPro/TTNormsPro-Medium.woff") format("woff"), url("../fonts/TTNormsPro/TTNormsPro-Medium.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "TTNormsPro", sans-serif;
  font-weight: normal;
  color: #371E64;
  background: #fff; }

html, body {
  overflow-x: hidden;
  height: 100%; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "TTNormsPro", sans-serif;
  height: 60px;
  width: 100%; }

label {
  display: block;
  width: 100%; }

.maxwidth-theme {
  padding: 0 15px;
  max-width: 1387px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  font-family: "TTNormsPro", sans-serif;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 16px 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 40px;
  height: 70px; }

.btn-accent {
  background: #32B561;
  color: #fff; }
  .btn-accent:hover {
    background: #2FCE68;
    color: #fff; }
  .btn-accent:focus {
    background: -webkit-gradient(linear, left bottom, left top, from(#2FCE68), to(#2FCE68));
    background: linear-gradient(0deg, #2FCE68, #2FCE68);
    color: #fff; }

.btn-border {
  border: 2px solid #6F2C91;
  color: #371E64;
  padding: 15px 40px; }
  .btn-border:hover {
    border-color: #6F2C91;
    background: #6F2C91;
    color: #fff; }
  .btn-border:focus {
    background: -webkit-gradient(linear, left bottom, left top, from(#6F2C91), to(#6F2C91)), #8E4BAF;
    background: linear-gradient(0deg, #6F2C91, #6F2C91), #8E4BAF;
    color: #fff;
    border-color: #6F2C91; }

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.video-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #0E0E0E; }
  .video-btn:hover, .video-btn:focus {
    color: #32B561; }
    .video-btn:hover .video-btn-icon, .video-btn:focus .video-btn-icon {
      background: #32B561;
      fill: #fff; }

.video-btn-icon {
  margin: 0 12px 0 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  min-width: 38px;
  z-index: 1;
  border: 2px solid #32B561;
    border-radius: 50%;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  fill: #32B561; }
  .video-btn-icon .svg-icon {
    width: 16px;
    height: 16px; }

.video-btn-text {
  text-decoration: underline; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

.links-accent {
  color: #2AA549;
  text-decoration: underline;
  font-size: 14px; }

.my-section h2 {
  font-size: 48px;
  font-weight: 500;
  width: 100%;
  margin: 0 0 39px;
  line-height: 115%; }

.box-text-title {
  font-size: 28px;
  line-height: 140%;
  margin: 0 0 92px;
  width: 100%;
  color: #371E64; }

.w-100 {
  width: 100%; }

.d-inline {
  display: inline-block; }

.color-black {
  color: #000000; }

.color-red {
  color: #DD0E0E; }

.color-green {
  color: #32B561; }

.links-view-all {
  margin: 22px 0 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #371E64;
  font-size: 16px;
  border-bottom: 1px dashed #371E64; }
  .links-view-all:hover, .links-view-all:focus {
    color: #32B561;
    border-color: #32B561; }

.list-decor {
  font-size: 20px; }
  .list-decor li {
    position: relative;
    margin: 0 0 20px;
    padding: 0 0 0 29px; }
    .list-decor li:last-child {
      margin: 0; }
    .list-decor li:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 13px;
      background: url("../img/decor-list.svg") no-repeat center;
        background-size: 100%;
      left: 0;
      top: 6px; }

.main-home {
  padding: 48px 0 0;
  position: relative;
  z-index: 1; }
  .main-home:before {
    content: '';
    position: absolute;
    left: -125px;
    bottom: 212px;
    background: linear-gradient(214.28deg, #C9F9DF 11.14%, #F7E7FF 59.62%, #F7E7FF 79.82%), linear-gradient(214.28deg, #F7E7FF 20.37%, #C9F9DF 79.82%), linear-gradient(214.28deg, #F7E7FF 20.37%, #DCFFE9 79.82%), linear-gradient(42.5deg, #ECDAF5 55.1%, #76FFA7 100%), #C4C4C4;
    width: 991px;
    height: 382px;
    -webkit-filter: blur(200px);
            filter: blur(200px);
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    z-index: -1; }
  .main-home h1 {
    color: #371E64;
    font-size: 58px;
    font-weight: 500;
    margin: 0 0 23px;
    max-width: 862px; }
  .main-home-content {
    width: calc(100% - 472px);
    margin: 0 auto 0 0; }
  .main-home .subtitle {
    color: #371E64;
    font-size: 28px; }

.main-bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 84px 0 0; }
  .main-bottom .btn {
    margin: 0 25px 0 0; }
  .main-bottom .video-btn {
    margin: 0 0 0 18px; }

.main-home__img {
  max-width: 472px; }

.main-home__footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 108px 0 0; }

.main-home__box {
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .main-home__box img {
    margin: 0 15px 0 0; }
  .main-home__box strong {
    color: #32B561;
    font-weight: 500; }

.acquiring-rates {
  padding: 256px 0 216px; }

.acquiring-rates-box {
  width: calc(25% - 40px);
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 45px 30px;
  margin: 0 0 56px;
  border-radius: 18px;
  font-size: 18px;
  cursor: pointer;
  background: linear-gradient(45deg, #6F2C91 -43.12%, #32B561 -17.35%, #65C68A -6.34%, #F5F7F9 -1.91%), #F4F6FB; }
  .acquiring-rates-box__percent {
    margin: 0 auto 10px;
    font-size: 48px;
    font-weight: bold;
    color: #32B561;
    line-height: 180%; }
  .acquiring-rates-box:hover {
    background: linear-gradient(45deg, #6F2C91 18.37%, #32B561 85.6%, #65C68A 114.31%, #F4F6FB 125.86%), #C4C4C4;
    color: #fff; }
    .acquiring-rates-box:hover .acquiring-rates-box__percent {
      color: #fff; }

.list-banks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px; }

.banks-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px; }
  .banks-item img {
    max-height: 100%; }

.advantages-section {
  position: relative; }
  .advantages-section:before {
    content: '';
    position: absolute;
    width: 607px;
    height: 607px;
    background: linear-gradient(42.5deg, #F6E3FF 41.81%, #A0E3BF 73.07%), #C4C4C4;
    -webkit-filter: blur(250px);
            filter: blur(250px);
    border-radius: 50%;
    right: -185px;
    top: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    z-index: -1; }
  .advantages-section .box-text-title {
    max-width: 840px; }
    .advantages-section .box-text-title span {
      font-weight: 500; }

.advantages-section-box {
  margin: 0 0 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  width: 33.3%;
  line-height: 130%; }
  .advantages-section-box__icon {
    width: 77px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .advantages-section-box__icon img {
      max-height: 100%; }
  .advantages-section-box__body {
    width: calc(100% - 77px);
    padding: 0 0 0 23px; }

.links-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #371E64; }
  .links-message:hover {
    color: #371E64; }
  .links-message__icon {
    width: 22px;
    height: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2px 10px 0 0; }

.new-clients {
  padding: 216px 0 232px; }

.new-clients-box {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  background: #F5F7F9;
  max-width: 320px;
  width: 100%;
  border-radius: 18px; }
  .new-clients-box:hover {
    -webkit-box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.08);
            box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.08); }
  .new-clients-box__title {
    padding: 23px 10px 19px;
    color: #0E0E0E;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    width: 100%; }
  .new-clients-box__img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 148px;
    overflow: hidden; }
    .new-clients-box__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .new-clients-box__body {
    width: 100%; }
  .new-clients-box .btn-group {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .new-clients-box .btn-group .btn {
      height: 47px;
      padding: 10px 22px;
      font-size: 16px; }
  .new-clients-box .list-characteristics {
    font-size: 16px;
    margin: 0 0 30px; }
  .new-clients-box .panel_heading {
    padding: 0;
    border: none;
    position: relative; }
    .new-clients-box .panel_heading:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      height: 1px;
      background: #E0E5F0;
      width: 260px; }
    .new-clients-box .panel_heading:last-child {
      background: transparent; }
    .new-clients-box .panel_heading .block_title {
      text-align: center;
      color: #371E64;
      font-weight: normal;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 50px; }
    .new-clients-box .panel_heading .block_hover {
      padding: 27px 27px 32px; }
    .new-clients-box .panel_heading h4 {
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase; }
      .new-clients-box .panel_heading h4 span {
        text-transform: none;
        font-weight: normal; }
  .new-clients-box .in .block_title {
    background: #A7AEBF;
    color: #fff; }
    .new-clients-box .in .block_title h4 {
      font-weight: bold; }

.list-characteristics {
  width: 100%;
  line-height: 180%;
  font-size: 16px; }
  .list-characteristics span {
    display: inline-block;
    font-weight: 500;
    margin: 0 0 0 40px; }
  .list-characteristics p {
    min-width: 120px;
    color: #7A7A7A; }
  .list-characteristics li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }

.my-slider .owl-nav {
  z-index: 2;
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .my-slider .owl-nav button.owl-next, .my-slider .owl-nav button.owl-prev {
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), to(#FFFFFF));
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 159px;
    z-index: 2; }
    .my-slider .owl-nav button.owl-next:before, .my-slider .owl-nav button.owl-prev:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 6px;
      height: 12px; }
    .my-slider .owl-nav button.owl-next span, .my-slider .owl-nav button.owl-prev span {
      display: none; }
  .my-slider .owl-nav button.owl-next {
    right: -24px; }
    .my-slider .owl-nav button.owl-next:before {
      background: url("../img/next.svg") no-repeat center;
        background-size: 100%; }
  .my-slider .owl-nav button.owl-prev {
    left: -24px; }
    .my-slider .owl-nav button.owl-prev:before {
      background: url("../img/prev.svg") no-repeat center;
        background-size: 100%; }

.contact-section {
  position: relative;
  z-index: 1;
  margin: 0 0 68px; }
  .contact-section h2 {
    width: 100%;
    margin: 0 0 28px; }

.map {
  width: 100%;
  max-width: 365px;
  height: 344px;
  border-radius: 18px;
  overflow: hidden; }
  .map iframe {
    width: 100%;
    height: 100%; }

.contact-section-box {
  width: calc(100% - 365px);
  padding: 0 33px 0 0;
  position: relative; }
  .contact-section-box__body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .contact-section-box__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%; }

.contact-section-box__callback {
  width: calc(100% - 260px);
  font-size: 20px;
  line-height: 130%;
  color: #371E64; }

.messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 14px 0 0; }

.list-messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .list-messengers li {
    margin: 0 0 0 11px; }
    .list-messengers li a {
      width: 30px;
      height: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .list-messengers li a:hover {
        background: -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), to(#FFFFFF)), #F5F7F9;
        background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #F5F7F9;
        padding: 5px;
        border-radius: 50%; }

.contact-section-box__item {
  margin: 0 0 24px;
  width: calc(50% - 12px);
  color: #371E64;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  padding: 20px 104px 29px 28px;
  background: #F4F6FB;
  border-radius: 8px;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .contact-section-box__item:hover {
    -webkit-box-shadow: 0px 2px 7px #D4DAE8;
            box-shadow: 0px 2px 7px #D4DAE8; }
  .contact-section-box__item h3 {
    font-weight: 500;
    margin: 0 0 10px; }
  .contact-section-box__item a {
    color: #1A1A1A; }

.contact-section-box__item-icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 16px;
  right: 25px; }

.company-proposal {
  font-size: 20px; }
  .company-proposal h3 {
    margin: 0 0 50px;
    font-size: 30px;
    line-height: 130%;
    font-weight: 500; }
  .company-proposal h4 {
    text-transform: uppercase;
    margin: 0 0 25px; }
  .company-proposal .maxwidth-theme {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }

.question {
  padding: 232px 0;
  position: relative;
  z-index: 1; }
  .question:before {
    content: '';
    position: absolute;
    right: -185px;
    top: -20px;
    background: linear-gradient(42.5deg, #F6E3FF 41.81%, #A0E3BF 73.07%), #C4C4C4;
    width: 607px;
    height: 607px;
    -webkit-filter: blur(250px);
            filter: blur(250px);
    border-radius: 50%; }
  .question h2 {
    margin: 0 0 35px; }

.panel_heading {
  border-top: 1px solid #E9E9E9;
  font-size: 18px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  width: 100%;
  max-width: 1017px;
  padding: 18px 20px; }
  .panel_heading:last-child {
    margin: 0;
    border-bottom: 1px solid #E9E9E9; }
  .panel_heading h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 140%; }
  .panel_heading__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 46px;
    height: 46px;
    min-width: 46px;
    border: 1px solid #CCCCCC;
      border-radius: 50%;
    stroke: #7A7A7A;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    padding: 16px; }

.block_hover {
  display: none;
  padding: 20px 0 0; }

.block_title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .block_title:hover .panel_heading__icon {
    background: #32B561;
    stroke: #fff;
    border-color: #32B561; }

.panel_heading.in .panel_heading__icon {
  background: #32B561;
  stroke: #fff;
  border-color: #32B561;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.callback {
  position: relative;
  padding: 0 0 77px; }
  .callback:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background: linear-gradient(214.28deg, #C9F9DF 11.14%, #F7E7FF 59.62%, #F7E7FF 79.82%), linear-gradient(214.28deg, #F7E7FF 20.37%, #C9F9DF 79.82%), linear-gradient(214.28deg, #F7E7FF 20.37%, #DCFFE9 79.82%), linear-gradient(42.5deg, #ECDAF5 55.1%, #76FFA7 100%), #C4C4C4;
    height: 314px;
    width: 2200px;
    -webkit-filter: blur(200px);
            filter: blur(200px);
    z-index: -1; }
  .callback .maxwidth-theme {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
  .callback h2 {
    margin: 0 0 50px; }
  .callback .box-text {
    max-width: 590px;
    font-size: 18px;
    line-height: 150%; }

.form-callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 58px 0 0; }
  .form-callback input {
    border: none;
    padding: 0 20px 0 70px;
    border-radius: 40px;
    background: #fff;
    font-size: 20px;
    font-weight: 500;
    color: #371E64; }
    .form-callback input::-webkit-input-placeholder {
      color: #7A7A7A; }
    .form-callback input::-moz-placeholder {
      color: #7A7A7A; }
    .form-callback input::-ms-input-placeholder {
      color: #7A7A7A; }
    .form-callback input::placeholder {
      color: #7A7A7A; }
  .form-callback label {
    width: 100%;
    max-width: 476px;
    position: relative; }
  .form-callback button {
    outline: none;
    border: none;
    cursor: pointer;
    height: 60px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    padding: 12px 40px;
    margin: 0 0 0 12px; }
  .form-callback__icon {
    position: absolute;
    left: 20px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  .form-callback h3 {
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 30px; }

.callback-content {
  max-width: 964px;
  width: 100%;
  position: relative;
  z-index: 2; }
  .callback-content .list-messengers {
    padding: 0 0 0 37px;
    margin: 0 0 0 47px;
    border-left: 1px solid #C6E7D2; }
    .callback-content .list-messengers li {
      margin: 0; }
      .callback-content .list-messengers li a {
        width: 50px;
        height: 50px;
        padding: 10px; }

.operator {
  margin: 5px 0 0;
  font-size: 18px;
  line-height: 130%;
  max-width: 226px; }

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 34px;
  font-weight: 500; }

.phone-icon {
  margin: 0 21px 0 0;
  max-width: 35px;
  width: 100%; }

.callback-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 448px;
  width: 100%;
  margin: 0 0 0 -70px; }

.staff {
  padding: 216px 0; }

.staff-box {
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-size: 18px; }
  .staff-box:hover .staff-box__img:before {
    opacity: 1; }
  .staff-box:hover .staff-box__hidden {
    display: block; }
  .staff-box__body {
    width: 100%;
    padding: 24px 20px 0; }
  .staff-box h3 {
    font-size: 26px;
    font-weight: 500;
    margin: 0 auto 3px; }

.staff-box__img {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 18px;
  height: 440px; }
  .staff-box__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .staff-box__img:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4)));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    opacity: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease; }

.staff-box__hidden {
  font-size: 20px;
  line-height: 115%;
  color: #fff;
  left: 0;
  bottom: 0;
  position: absolute;
  padding: 0 28px 32px;
  text-align: center;
  width: 100%;
  display: none; }

.staff-box-characteristics {
  width: 100%;
  margin: 15px 0 0;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .staff-box-characteristics:first-child {
    margin: 0; }
  .staff-box-characteristics p {
    margin: 0 0 1px; }
  .staff-box-characteristics a {
    color: #fff;
    font-weight: bold; }

.staff-slider .owl-nav button.owl-prev, .staff-slider .owl-nav button.owl-next, .reviews-slider .owl-nav button.owl-prev, .reviews-slider .owl-nav button.owl-next {
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }

.reviews {
  padding: 216px 0 0; }

.reviews-video {
  width: 100%;
  height: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .reviews-video iframe {
    width: 100%;
    height: 1005px; }

.wrapper-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.complex-services {
  padding: 139px 0 0; }
  .complex-services h2 {
    max-width: 771px; }
  .complex-services .box-text-title {
    max-width: 831px; }

.complex-services-box {
  width: calc(50% - 15px);
  min-height: 321px;
  margin: 0 0 30px;
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  background: #F4F6FB;
  color: #371E64;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  font-weight: 500;
  padding: 37px 49px 39px;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  .complex-services-box__content {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    max-width: 343px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .complex-services-box h3 {
    margin: 0 0 27px; }
  .complex-services-box:hover {
    -webkit-box-shadow: 0px 2px 7px #D4DAE8;
            box-shadow: 0px 2px 7px #D4DAE8; }

.list-dots {
  list-style-type: disc;
  line-height: 130%;
  font-size: 18px;
  padding: 0 0 0 20px; }
  .list-dots li {
    margin: 0 0 15px; }
    .list-dots li:last-child {
      margin: 0; }

.complex-services-box__img {
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  max-width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 256px; }
  .complex-services-box__img img {
    max-height: 100%; }

.ready-made-solutions {
  padding: 110px 0 0; }
  .ready-made-solutions h2 {
    max-width: 840px; }
  .ready-made-solutions .box-text-title {
    max-width: 840px; }

.tabs-wrapper {
  background: #F5F7F9;
  border-radius: 18px;
  padding: 39px 39px 65px;
  width: 100%; }

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 35px;
  width: 100%; }
  .tabs li {
    margin: 0 18px 0 0; }
    .tabs li:last-child {
      margin: 0; }
    .tabs li a {
      padding: 7px 24px 7px 18px;
      color: #371E64;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border: none;
        border-radius: 4px;
      background: #ffff;
      position: relative; }
    .tabs li .active {
      background: #fff;
      color: #371E64;
      -webkit-box-shadow: 0px 2px 7px #DBE0ED;
              box-shadow: 0px 2px 7px #DBE0ED; }
      .tabs li .active:before {
        content: '';
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
        bottom: -9px;
        width: 0;
        height: 0;
        border-top: 9px solid #fff;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent; }

.tabs-links__icon {
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin: 0 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.tab_content {
  display: none;
  width: 100%; }

.tab_content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.card-product {
  background: #fff;
  width: 100%;
  min-height: 1182px;
  margin: 0 auto 40px;
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  padding: 27px 60px 37px;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .card-product__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 267px;
    margin: 0 auto; }
    .card-product__img img {
      max-height: 100%; }
  .card-product__title {
    color: #32B561;
    font-size: 40px;
    font-weight: 500;
    line-height: 180%;
    text-align: center; }
  .card-product__footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto 0 0; }
  .card-product__body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 16px 0 0; }
  .card-product .btn {
    margin: 20px auto 0;
    height: 60px; }
  .card-product:hover {
    -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12); }

.price-wrapper {
  width: 100%; }

.price-default {
  line-height: 180%;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #371E64; }

.card-product__category {
  width: 100%;
  margin: 0 0 22px;
  font-size: 20px; }
  .card-product__category .list-decor {
    min-height: 180px; }
  .card-product__category h4 {
    font-size: 20px;
    font-weight: 500;
    color: #0E0E0E;
    line-height: 140%;
    margin: 0 0 5px; }

.checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: -webkit-gradient(linear, left bottom, left top, from(#F8FAF0), to(#F8FAF0)), #FFFFFF;
  background: linear-gradient(0deg, #F8FAF0, #F8FAF0), #FFFFFF;
  border-radius: 4px;
  color: #000000;
  font-size: 16px;
  line-height: 130%;
  padding: 20px 25px;
  cursor: pointer; }

.input-checkbox {
  display: none; }

.checkbox-custom {
  margin: 0 12px 0 0;
  width: 29px;
  height: 29px;
  min-width: 29px;
  border: 1px solid #2AA549;
    border-radius: 50%;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  position: relative; }
  .checkbox-custom:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 13px;
    height: 10.5px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1); }

.input-checkbox:checked + .checkbox-custom {
  background: #32B561; }
  .input-checkbox:checked + .checkbox-custom:before {
    background: url("../img/check.svg") no-repeat center;
      background-size: 100%; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1480px) {
  .list-characteristics span {
    margin: 0 0 0 25px; }
  .ready-made-solutions h2 {
    max-width: none;
    margin: 0 0 20px; }
  .tabs {
    margin: 0 0 30px; }
    .tabs li {
      margin: 0 10px 0 0; }
  .new-clients {
    padding: 180px 0; }
  .new-clients-box .panel_heading .block_hover {
    padding: 20px; }
  .reviews {
    padding: 180px 0 0; } }

@media only screen and (max-width: 1400px) {
  .new-clients-box .btn {
    width: 100%;
    margin: 0 0 10px; }
  .callback-content {
    width: calc(100% - 448px); }
  .callback-img {
    margin: 0; }
  .card-product {
    min-height: 1050px;
    padding: 20px; }
  .main-home__img {
    max-width: 300px; }
  .main-home-content {
    width: calc(100% - 300px); }
  .main-home__box {
    width: 25%;
    font-size: 16px;
    padding: 0 10px; }
    .main-home__box br {
      display: none; }
  .main-home__footer {
    margin: 30px 0 0; }
  .tabs-wrapper {
    padding: 30px; }
  .tabs {
    margin: 0 auto 10px 0; }
    .tabs li {
      margin: 0 7px 10px 0; }
      .tabs li:last-child {
        margin: 0 0 10px; }
  .card-product__title {
    font-size: 28px;
    line-height: normal;
    margin: 0 0 10px; }
  .card-product__category {
    font-size: 18px; }
  .list-decor {
    font-size: 18px; }
  .complex-services-box__img {
    max-width: 200px; }
  .complex-services-box__content {
    width: calc(100% - 200px);
    padding: 0 20px 0 0; }
  .complex-services-box {
    font-size: 20px; }
  .reviews {
    padding: 130px 0 0; }
  .staff {
    padding: 170px 0; } }

@media only screen and (max-width: 1200px) {
  .main-home {
    padding: 70px 0 0; }
  .main-home-content {
    max-width: 700px; }
  .main-home h1 {
    font-size: 30px; }
  .box-text-title {
    font-size: 20px;
    margin: 0 0 40px; }
  .main-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 40px 0 0; }
    .main-bottom .btn {
      margin: 0 0 15px;
      max-width: 300px;
      width: 100%; }
  .main-home .subtitle {
    font-size: 20px; }
  .my-section h2 {
    font-size: 30px;
    line-height: normal;
    margin: 0 0 20px; }
  .acquiring-rates-box {
    width: calc(25% - 20px);
    height: 240px;
    padding: 20px;
    font-size: 20px;
    margin: 0 0 20px; }
    .acquiring-rates-box__percent {
      font-size: 30px;
      line-height: normal; }
  .banks-item {
    width: 25%; }
  .list-banks {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .question, .acquiring-rates, .new-clients, .staff {
    padding: 100px 0; }
  .callback-img {
    width: 300px;
    height: 300px; }
  .callback-content {
    width: calc(100% - 300px); }
  .callback h2 {
    margin: 0 0 25px; }
  .advantages-section-box {
    font-size: 18px; }
  .complex-services-box__content {
    padding: 0 20px 20px; }
  .complex-services-box h3 {
    font-size: 22px; }
  .list-dots {
    font-size: 16px; }
  .card-product {
    margin: 0 0 30px; }
  .my-slider .owl-nav button.owl-prev {
    left: 0; }
  .my-slider .owl-nav button.owl-next {
    right: 0; }
  .new-clients-box {
    margin: 0 auto; }
  .form-callback label {
    max-width: 300px; }
  .phone {
    font-size: 24px; }
  .phone-icon {
    max-width: 30px; }
  .form-callback {
    margin: 20px 0 0; }
    .form-callback h3 {
      font-size: 20px; }
  .complex-services-box {
    padding: 20px; }
  .complex-services-box__img {
    max-width: 140px; }
  .complex-services-box__content {
    width: calc(100% - 140px); }
  .complex-services {
    padding: 70px 0 0; }
  .ready-made-solutions {
    padding: 50px 0 30px; }
  .reviews {
    padding: 60px 0 0; }
  .contact-section-box {
    width: 100%;
    padding: 0; }
  .map {
    width: 100%;
    max-width: none;
    margin: 30px 0 0; }
  .contact-section {
    margin: 0 0 40px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .main-home-content {
    max-width: 540px; }
  .main-home {
    padding: 60px 0 0; }
  .acquiring-rates-box {
    width: calc(50% - 10px); }
  .new-clients-box {
    margin: 0 auto; }
  .panel_heading h4 {
    font-size: 16px; }
  .block_hover {
    font-size: 14px; }
  .advantages-section-box {
    width: 50%; }
  .question {
    padding: 60px 0 20px; }
    .question h2 {
      margin: 0 0 30px; }
  .callback-content {
    max-width: none;
    width: 100%; }
  .form-callback {
    max-width: 700px; }
  .callback-img {
    margin: 20px auto 0; }
  .company-proposal h3 {
    font-size: 24px;
    line-height: normal;
    margin: 0 0 30px; }
  .complex-services {
    padding: 60px 0 40px; }
  .complex-services-box {
    width: 100%;
    min-height: 220px; }
    .complex-services-box__content {
      max-width: none; }
  .card-product {
    min-height: 1100px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .main-home__box {
    width: 50%;
    margin: 0 0 20px; }
  .card-product {
    min-height: auto; }
  .advantages-section {
    padding: 50px 0; }
  .new-clients-box__title {
    padding: 20px 10px; }
  .new-clients-box .list-characteristics {
    font-size: 14px; }
  .list-characteristics span {
    margin: 0 0 0 15px; }
  .my-section h2 {
    font-size: 24px; }
  .new-clients-slider {
    margin: 40px 0 0; }
  .contact-section-box {
    padding: 30px; }
  .contact-section-box__item {
    width: 100%; }
  .contact-section-box__callback {
    max-width: 280px; }
  .banks-item {
    width: 33.3%; }
  .advantages-section-box {
    margin: 0 0 40px; }
  .contact-section-box__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .contact-section-box__callback {
    max-width: none;
    margin: 0 0 30px;
    width: 100%; }
  .contact-section-box {
    padding: 0; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 670px) {
  .card-product {
    width: 100%; }
  .card-product__img {
    height: 200px; }
  .card-product__body {
    height: auto; }
  .card-product__category .list-decor {
    min-height: auto; }
  .question, .acquiring-rates {
    padding: 60px 0; }
  .acquiring-rates-box {
    width: 100%;
    height: 200px; }
  .advantages-section-box {
    width: 100%; }
    .advantages-section-box br {
      display: none; }
    .advantages-section-box__img {
      width: 65px; }
    .advantages-section-box__body {
      width: calc(100% - 65px); } }

@media only screen and (max-width: 576px) {
  .main-home {
    background: #fff;
    padding: 50px 0 0; }
    .main-home h1 {
      font-size: 26px;
      margin: 0 0 30px; }
  .main-home__img {
    max-width: 200px; }
  .main-home-content {
    width: calc(100% - 200px); }
  .btn {
    height: 60px;
    font-size: 15px; }
  .contact-section-box__callback {
    max-width: none; }
  .form-callback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .form-callback button {
      margin: 10px auto 0; }
    .form-callback label {
      max-width: none;
      width: 100%; }
  .callback-content .list-messengers {
    margin: 10px 0 0;
    padding: 0;
    border: none;
    width: 100%; }
  .staff {
    padding: 60px 0 40px; }
  .reviews {
    padding: 60px 0 0; }
  .reviews-video {
    height: 450px; }
  .reviews h2 {
    margin: 0 0 30px; }
  .reviews .btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 0 0; }
    .reviews .btn-group .btn {
      width: 100%;
      margin: 0 0 10px; }
  .price {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .tabs li {
    width: 100%;
    margin-right: 0; }
  .checkbox {
    font-size: 14px;
    padding: 10px; } }

@media only screen and (max-width: 480px) {
  .main-home__img {
    max-width: 300px;
    margin: 20px auto 0; }
  .main-home-content {
    width: 100%; }
  .main-home__box {
    width: 100%; }
  .banks-item {
    width: 50%;
    height: auto;
    margin: 0 0 20px;
    padding: 0 5px; }
  .list-banks {
    padding: 0; }
  .list-messengers {
    width: 100%;
    margin: 10px 0 0; }
    .list-messengers li {
      margin: 0 10px 0 0; }
      .list-messengers li:last-child {
        margin: 0; }
  .contact-section-box__item, .contact-section-box__callback {
    font-size: 16px; }
  .complex-services-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start; }
    .complex-services-box__content {
      width: 100%;
      padding: 0; }
    .complex-services-box .btn {
      margin: 0 auto; }
    .complex-services-box__img {
      position: relative;
      right: 0;
      top: 0;
      height: auto;
      max-width: 200px;
      margin: 20px auto 0;
      -webkit-transform: none;
              transform: none; } }
