@import "fonts"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666

body input:required:valid,
body textarea:required:valid
  color: #666

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: normal
  font-family: $default-font
  font-weight: normal
  color: #0E0E0E

html, body
  overflow-x: hidden
  height: 100%

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

a
  display: block
  text-decoration: none
  transition: .3s ease
  outline: none

  &:hover, &:focus
    text-decoration: none

input, textarea, select
  outline: none
  box-shadow: none
  appearance: none
  padding: 0
  box-sizing: border-box
  font-family: $default-font
  height: 54px
  width: 100%

label
  display: block
  width: 100%

.maxwidth-theme
  padding: 0 24px
  max-width: 1548px
  width: 100%
  display: flex
  flex-wrap: wrap
  margin: 0 auto

.btn
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  font-size: 16px
  line-height: 20px
  font-weight: bold
  font-family: $default-font
  outline: none
  box-shadow: none
  padding: 16px 20px
  width: fit-content
  border-radius: 4px


.btn-accent
  background: $accent
  color: #fff

  &:hover
    background: #238a3d
    color: #fff

.btn-border
  border: 1px solid #E6E8E0
  color: #0E0E0E
  padding: 15px 20px
  font-weight: normal
  &:hover
    border-color: $accent
    background: $accent
    color: #fff

.btn-group
  display: flex
  align-items: flex-start
  flex-wrap: wrap


.video-btn
  display: flex
  align-items: center
  font-size: 16px
  color: $accent

.video-btn-icon
  margin: 0 13px 0 0
  position: relative
  display: flex
  align-items: center
  justify-content: center
  border-radius: 50%
  width: 68px
  height: 68px
  min-width: 68px
  z-index: 1
  background: #D3FFDD
  transition: .3s ease
  &:before
    content: ''
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    width: calc(100% - 16px)
    height: calc(100% - 16px)
    border-radius: 50%
    z-index: -1
    background: linear-gradient(180deg, #FFFFFF 24.04%, #E0FBE6 100%), #FFFFFF
    box-shadow: 0 10px 32px rgba(42, 165, 73, 0.6)
  .svg-icon
    width: 18px
    height: 18px
    fill: $accent


.svg-icon
  display: inline-block
  width: 100%
  height: 100%

.links-accent
  color: #2AA549
  text-decoration: underline
  font-size: 14px

.bg-orange-light
  background: linear-gradient(0deg, #FFF7EF, #FFF7EF)

.bg-violet-light
  background: linear-gradient(0deg, #F7F7FF, #F7F7FF)

.my-section
  h2
    font-size: 28px
    font-weight: 600
    width: 100%
    margin: 0 0 18px

.box-text-title
  font-size: 18px
  line-height: 140%

.w-100
  width: 100%

.d-inline
  display: inline-block

.font-600
  font-weight: 600

.color-black
  color: #000000

.color-red
  color: #DD0E0E

.index-block__title-wrapper
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: space-between


//home
.main-home
  padding: 200px 0
  background: url("../img/bg1.png") no-repeat center
    size: cover
  h1
    color: #0E0E0E
    font-size: 38px
    font-weight: 600
    margin: 0 0 62px

  &-content
    max-width: 830px
    width: 100%

.main-bottom
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap
  .btn
    margin: 0 50px 0 0
    padding: 22px 50px



//advantages-section
.advantages-section
  padding: 65px 0
  .maxwidth-theme
    justify-content: space-between

.advantages-section-box
  border-radius: 12px
  width: calc(50% - 10px)
  padding: 44px 40px 32px
  &__footer
    width: 100%
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    justify-content: space-between
    padding: 30px 0 0
    border-top: 1px solid #0E0E0E
  .box-text
    max-width: 331px
    p
      margin: 0 0 20px
      font-size: 13px
      line-height: 135%
      &:last-child
        margin: 0
  .btn-group
    display: flex
    flex-direction: column
    align-items: center
    .btn
      padding: 16px 20px
      margin: 0 auto 12px
  h3
    font-size: 22px
    font-weight: 600
    margin: 0 0 25px
    max-width: 540px
    width: 100%
    z-index: 2
    position: relative
  &__body
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    position: relative
    padding: 0 0 50px
    z-index: 1
  &__img
    display: flex
    align-items: center
    justify-content: center
    right: -10px
    bottom: 0
    min-width: 344px
    max-width: 344px
    position: absolute
    z-index: -1
  &:nth-child(2)
    .advantages-section-box__img
      top: 50%
      transform: translate(0,-50%)
      bottom: auto

.list-check
  font-size: 16px
  line-height: 135%
  max-width: 350px
  width: 100%
  li
    position: relative
    padding: 0 0 0 27px
    margin: 0 0 20px
    &:last-child
      margin: 0
    &:before
      content: ''
      position: absolute
      left: 0
      top: 10px
      width: 13px
      height: 10px
      background: url("../img/check.svg") no-repeat center
        size: 100%

//new-clients
.new-clients-slider
  margin: 64px 0 0

.new-clients-box
  transition: .3s ease
  cursor: pointer
  background: #fff
  max-width: 353px
  width: 100%
  border-radius: 12px
  border: 1px solid #E6E8E0
  &:hover
    border: 1px solid #2AA549
    box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.08)
  &__title
    padding: 35px 10px 26px
    text-align: center
    font-size: 20px
    font-weight: 600
    width: 100%
  &__img
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    height: 184px
    overflow: hidden
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__body
    padding: 29px 34px 36px
  .btn-group
    justify-content: space-between
  .list-characteristics
    margin: 0 0 30px

.list-characteristics
  width: 100%
  line-height: 180%
  span
    display: inline-block
    font-weight: 600
    margin: 0 0 0 37px
  p
    min-width: 125px
    color: #7A7A7A
  li
    display: flex
    align-items: center
    width: 100%

.my-slider
  .owl-nav
    z-index: 2
    position: static
    display: flex
    button.owl-next, button.owl-prev
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15)
      background: linear-gradient(0deg, #FFFFFF, #FFFFFF)
      width: 50px
      height: 50px
      border-radius: 50%
      display: flex
      align-items: center
      justify-content: center
      position: absolute
      top: 159px
      z-index: 2
      &:before
        content: ''
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%,-50%)
        width: 6px
        height: 12px
      span
        display: none
    button.owl-next
      right: -24px
      &:before
        background: url("../img/next.svg") no-repeat center
          size: 100%
    button.owl-prev
      left: -24px
      &:before
        background: url("../img/prev.svg") no-repeat center
          size: 100%

//contact-section
.contact-section
  position: relative
  z-index: 1

.map
  position: absolute
  width: 100%
  height: 100%
  iframe
    width: 100%
    height: 100%

.contact-section-box
  margin: 111px 0 108px
  background: #fff
  padding: 47px 60px 53px
  max-width: 720px
  width: 100%
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.1)
  border-radius: 12px
  position: relative
  overflow: hidden
  z-index: 1
  h2
    border-bottom: 1px solid #0E0E0E
    padding: 0 0 20px
    margin: 0 0 34px
  &__body
    width: 100%
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    justify-content: space-between
  &__footer
    width: 100%

.contact-section-box__callback
  max-width: 347px
  width: 100%
  font-size: 18px
  color: #1A1A1A

.messengers
  margin: 15px 0
  display: flex
  align-items: center
  flex-wrap: wrap
  font-size: 18px
  line-height: 150%
  color: #000000

.list-messengers
  display: flex
  align-items: center
  flex-wrap: wrap
  li
    margin: 0 0 0 11px
    a
      width: 30px
      height: 30px
      display: flex
      align-items: center
      justify-content: center

.contact-section-box__item
  margin: 0 0 40px
  width: 45%
  color: #1A1A1A
  font-size: 18px
  line-height: 22px
  h3
    color: $accent
    font-weight: 600
    margin: 0 0 10px
  a
    color: #1A1A1A

.contact-section-box__img
  position: absolute
  bottom: -60px
  right: 0
  max-width: 314px
  width: 100%
  z-index: -1
  &:before
    content: ''
    position: absolute
    width: 450px
    height: 450px
    background: #F3F3F3
    border-radius: 50%
    bottom: -179px
    right: -117px
  img
    position: relative
    z-index: 1

//question
.question
  padding: 104px 0 20px
  h2
    margin: 0 0 50px

.question-row
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  justify-content: space-between

.question-box
  width: calc(50% - 15px)
  margin: 0 0 60px
  h3
    width: 100%
    display: flex
    align-items: center
    margin: 0 0 30px
    font-size: 22px
    color: $accent
    .svg-icon
      width: 30px
      height: 30px
      fill: $accent
      margin: 0 10px 0 0

.panel-box
  overflow: hidden
  width: 100%

.panel_heading
  margin: 0 0 -1px
  border: 1px solid #E9E9E9
  background: #F9F9F9
  transition: .3s ease
  &:first-child
    border-radius: 12px 12px 0 0
  &:last-child
    margin: 0
    border-radius: 0 0 12px 12px
  h4
    font-size: 18px
    font-weight: 600

.block_hover
  padding: 0 72px 27px 34px
  line-height: 135%
  display: none

.block_title
  position: relative
  display: flex
  align-items: center
  justify-content: space-between
  padding: 20px 30px
  cursor: pointer
  &:after
    content: '+'
    display: inline-block
    color: #7A7A7A
    font-size: 25px

.panel_heading.in
  border: 2px solid #2AA549
  background: #FFFFFF
  margin: 0
  .block_title
    &:after
      content: '-'
      color: $accent

//callback
.callback
  position: relative
  overflow: hidden
  background: linear-gradient(0deg, #F8FAF0, #F8FAF0), #F0FCF2
  .maxwidth-theme
    align-items: center
  h2
    margin: 0 0 36px
  .box-text
    max-width: 590px
    font-size: 18px
    line-height: 150%

.form-callback
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  justify-content: space-between
  margin: 35px 0 0
  input
    padding: 0 20px
    border: 2px solid #D5EEC1
      radius: 4px
    background: #fff
    font-size: 15px
    color: #000
    &::placeholder
      color: #7A7A7A
  label
    width: calc(100% - 221px)
  button
    outline: none
    border: none
    cursor: pointer
    transition: .3s ease
    padding: 18px 24px

.callback-content
  max-width: 700px
  width: 100%
  position: relative
  z-index: 2


.callback-img
  display: flex
  align-items: center
  justify-content: center
  max-width: 668px
  width: 100%
  position: relative
  z-index: 1
  margin: 0 20px 0 auto
  &:before, &:after
    content: ''
    position: absolute
    display: inline-block
    width: 159px
    height: 463px
    background: url("../img/question.svg") no-repeat center
      size: 100%
    z-index: -1
    transform: rotate(11.86deg)
  &:before
    left: 6px
    top: 0
  &:after
    width: 76px
    height: 220px
    transform: rotate(-15.31deg)
    top: 112px
    left: -43px

//staff
.staff
  padding: 100px 0 65px
  .box-text-title
    margin: 0 0 75px
    color: #000000
    max-width: 904px
    width: 100%

.staff-box
  position: relative
  overflow: hidden
  z-index: 1
  border-radius: 12px
  color: #fff
  cursor: pointer
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.12%, rgba(0, 0, 0, 0.6) 115.27%)
  &:hover
    &:before
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(180deg, rgba(0, 0, 0, 0) 63.12%, rgba(0, 0, 0, 0.6) 115.27%)
    .staff-box-characteristics
      display: block

.staff-box__img
  width: 100%
  height: 100%
  object-fit: cover

.staff-box__content
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  padding: 30px
  font-size: 18px

.staff-box-characteristics
  margin: 20px 0 0
  transition: .3s ease
  display: none
  &:first-child
    display: block
  &:first-child
    margin: 0
  p
    margin: 0 0 1px
  a
    color: #fff
  h3
    font-size: 22px
    font-weight: 600

.staff-slider, .reviews-slider
  .owl-nav
    button.owl-prev, button.owl-next
      top: 50%
      transform: translate(0,-50%)

//reviews
.reviews
  padding: 104px 0 0
  h2
    margin: 0 0 57px
  .btn-group
    width: 100%
    margin: 52px 0 0
    justify-content: center
    .btn
      padding: 10px 16px
      margin: 0 12px 0 0

.reviews-video
  width: 100%
  height: 574px
  display: flex
  align-items: center
  justify-content: center
  iframe
    width: 100%
    height: 1005px

//offers-partner
.offers-partner
  background: linear-gradient(0deg, #F4F4F4, #F4F4F4), linear-gradient(0deg, #FFF7F7, #FFF7F7)
  padding: 68px 0 48px
  h2
    margin: 0 0 57px

.wrapper-row
  display: flex
  align-items: stretch
  flex-wrap: wrap
  justify-content: space-between

.offers-partner-box
  width: calc(25% - 15px)
  padding: 32px 10px 177px 37px
  position: relative
  background: #fff
  z-index: 1
  overflow: hidden
  transition: .3s ease
  border-radius: 12px
  margin: 0 0 30px
  &:hover
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12)
  h3
    font-size: 22px
    font-weight: 600
    line-height: 130%
  .btn
    margin: 28px 0 0
  &__img
    position: absolute
    max-width: 288px
    height: 206px
    width: 100%
    display: flex
    align-items: center
    justify-content: flex-end
    bottom: 0
    right: 0
    z-index: -1
    &:before
      content: ''
      position: absolute
      border-radius: 50%
      z-index: -1
      background: linear-gradient(0deg, #EDF4CF, #EDF4CF)
      width: 578px
      height: 578px
      bottom: -436px
      right: -230px
    img
      max-height: 100%

//complex-services
.complex-services
  padding: 104px 0 40px
  .box-text-title
    color: #000
    margin: 0 0 64px

.complex-services-box
  width: calc(50% - 15px)
  min-height: 704px
  margin: 0 0 40px
  position: relative
  overflow: hidden
  border-radius: 12px
  color: #fff
  z-index: 1
  display: flex
  flex-direction: column
  justify-content: flex-end
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: linear-gradient(180deg, rgba(42, 44, 46, 0) 0%, rgba(42, 44, 46, 0.7) 64.08%)
    z-index: 1
  &__content
    position: relative
    z-index: 2
    width: 100%
    padding: 0 44px 38px
  h3
    margin: 0 0 27px
    font-size: 28px
    font-weight: 600
  .list-dots
    min-height: 176px

.list-dots
  list-style-type: disc
  line-height: 130%
  font-size: 18px
  padding: 0 0 0 20px
  li
    margin: 0 0 15px
    &:last-child
      margin: 0

.complex-services-box__img
  width: 100%
  height: 100%
  object-fit: cover
  position: absolute
  left: 0
  top: 0

//ready-made-solutions
.ready-made-solutions
  background: #F4F4F4
  padding: 68px 0 40px
  h2
    max-width: 376px
    margin: 0


.links
  display: flex
  align-items: center
  font-size: 14px
  color: #0E0E0E
  &:hover
    color: $accent
  .svg-icon
    width: 6px
    height: 12px
    stroke: $accent
    fill: none
    margin: 0 0 0 9px

.tabs
  display: flex
  align-items: stretch
  flex-wrap: wrap
  font-size: 18px
  margin: 0 38px 0 auto
  li
    margin: 0 18px 0 0
    &:last-child
      margin: 0
    a
      color: #0E0E0E
      display: flex
      align-items: center
      border: 1px solid #E6E8E0
        radius: 4px
      background: #ffff
      padding: 13px 20px
    .active
      background: $accent
      color: #fff
      border-color: $accent
      .tabs-links__icon
        filter: brightness(0) invert(1)

.tabs-links__icon
  width: 24px
  min-width: 24px
  height: 22px
  margin: 0 10px 0 0
  display: flex
  align-items: center
  justify-content: center
  transition: .3s ease

.tab_content
  display: none
  width: 100%

.tab_content.active
  display: flex
  flex-wrap: wrap

.tab_container
  margin: 64px 0 0

.card-product
  background: #fff
  width: calc(25% - 15px)
  margin: 0 0 30px
  position: relative
  overflow: hidden
  border: 1px solid transparent
    radius: 12px
  padding: 21px 28px 27px
  cursor: pointer
  transition: .3s ease
  &__img
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 285px
    margin: 22px auto 30px
    img
      max-height: 100%
  &__title
    color: #000000
    font-size: 18px
    font-weight: 600
    line-height: 130%
    min-height: 50px
    margin: 0 0 10px
  &__footer
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
  &:hover
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12)
    border: 1px solid #2AA549
    .btn-add-card
      background: $accent
      border-color: $accent
      color: #fff
      .btn-icon
        filter: brightness(0) invert(1)
      .btn-text
        display: block


.btn-add-card
  color: #fff
  padding: 14px
  font-size: 16px
  font-weight: bold
  .btn-text
    display: none
    transition: .3s ease
  .btn-icon
    width: 24px
    height: 22px
    min-width: 24px

.btn-icon
  display: flex
  align-items: center
  justify-content: center

.btn-text
  margin: 0 0 0 8px


.availability
  width: 100%
  margin: 0 0 22px
  font-size: 13px
  &:before
    content: ''
    display: inline-block
    background: $accent
    width: 6px
    min-width: 6px
    height: 6px
    margin: 0 8px 0 0
    border-radius: 50%


.yes-availability
  color: #39B41B

.list-label
  position: absolute
  left: 0
  top: 0
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap
  padding: 21px 26px
  font-size: 12px
  line-height: 100%
  li
    padding: 6px 10px
    border-radius: 15px
    margin: 0 7px 5px 0
    &:last-child
      margin-right: 0
  .bg-orange-light
    color: #EC6642
  .bg-violet-light
    color: #9160E7
  .bg-red-light
    color: #E71E63

.bg-red-light
  background: #FDE9F0

.price-default
  margin: 0 0 3px
  font-size: 18px
  font-weight: 600
  color: #000

.new-price
  background: linear-gradient(0deg, #EDFBF0, #EDFBF0), #E8FDED
  padding: 4px
  color: #2AA549

.old-price
  text-decoration-line: line-through
  color: #000
  margin: 0 10px 0 0

.price-wrapper
  display: flex
  flex-direction: column
  align-items: flex-start

.price
  display: flex
  align-items: center
  font-size: 13px

//personal-compilation
.personal-compilation
  padding: 66px 0 80px
  h2
    margin: 0

.personal-compilation-wrapper
  border: 1px solid #E6E8E0
    radius: 12px
  overflow: hidden
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #F8FAF0, #F8FAF0)
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  padding: 50px 57px 8px 66px

.personal-compilation-content
  max-width: 455px
  width: 100%
  .box-text
    display: flex
    align-items: flex-start
    font-size: 18px
    color: #000
    margin: -40px 0 0
    p
      max-width: 229px
      margin: 72px 0 0

.personal-compilation-content__img
  max-width: 232px
  width: 100%
  display: flex
  align-items: center
  position: relative
  z-index: 1
  &:before, &:after
    content: ''
    position: absolute
    opacity: 0.3
    background: url("../img/sale.svg") no-repeat center
      size: 100%
    width: 79px
    height: 79px
  &:before
    left: -182px
    bottom: 30px
  &:after
    opacity: .15
    left: -200px
    bottom: 120px
    width: 50px
    height: 50px
  img
    max-height: 369px
    overflow: hidden
    position: relative
    z-index: 1

.img-sale
  position: absolute
  left: -87px
  bottom: 62px

.personal-compilation-test
  width: calc(100% - 455px)
  padding: 0 0 0 79px
  h3
    font-size: 18px
    line-height: 130%
    width: 100%
    text-align: center
    padding: 0 0 10px
    margin: 0 auto 36px
    font-weight: 600
    border-bottom: 1px solid #E9E9E9

.personal-compilation-slider__item
  width: 100%
  margin: 0 0 24px
  h4
    width: 100%
    text-align: center
    margin: 0 0 33px
  .checkbox
    width: calc(33.3% - 12px)
    margin: 0 0 24px

.checkbox
  position: relative
  display: flex
  align-items: center
  justify-content: flex-start
  background: linear-gradient(0deg, #F8FAF0, #F8FAF0), #FFFFFF
  border-radius: 4px
  color: #000000
  font-size: 16px
  line-height: 130%
  padding: 20px 25px
  cursor: pointer

.input-checkbox
  display: none

.checkbox-custom
  margin: 0 12px 0 0
  width: 29px
  height: 29px
  min-width: 29px
  border: 1px solid #2AA549
    radius: 50%
  transition: .3s ease
  position: relative
  &:before
    content: ''
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    width: 13px
    height: 10.5px
    transition: .3s ease
    filter: brightness(0) invert(1)

.input-checkbox:checked + .checkbox-custom
  background: $accent
  &:before
    background: url("../img/check.svg") no-repeat center
      size: 100%

.personal-compilation-slider
  .owl-nav
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    button.owl-prev, button.owl-next
      display: flex
      align-items: center
      justify-content: center
      padding: 18px 24px !important
      color: #0E0E0E
      font-size: 16px
      width: auto
      height: auto
      position: relative
      min-width: 210px
      border: 1px solid #2AA549
        radius: 4px
      &:hover
        font-weight: bold
        color: #fff
        background: $accent
        .btn-icon
          stroke: #fff
    .btn-icon
      fill: none
      stroke: $accent
      width: 19px
      height: 12px
      display: flex
      align-items: center
      justify-content: center
      margin: 0 12px 0 0
    button.owl-next
      margin: 0 0 0 18px
      .btn-icon
        margin: 0 0 0 12px



@import "media"